.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1400px;
  background-color: #00a1c612;

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    line-height: 34px;
    font-size: 22px;
    font-weight: 700;

    @include for-large-up {
      margin-top: 108px;
    }
  }
  &__title {
    text-align: center;
    width: 290px;
    height: 80px;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 700;

    @include for-large-up {
      width: 555px;
      height: 112px;
      margin-top: 24px;
      line-height: 56px;
      font-size: 56px;
    }
  }
  &__description {
    display: block;
    text-align: center;
    max-width: 290px;
    height: 136px;
    margin: 0;
    margin-top: 18px;
    line-height: 34px;
    font-size: 24px;

    @include for-large-up {
      margin-top: 30px;
      max-width: 555px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @include for-large-up {
      flex-direction: unset;
      margin-top: 34px;
    }
  }

  &__actions__btn {
    margin-top: 0;

    @include for-large-up {
      margin: 5px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: auto;
    margin: auto;
    margin-top: 40px;

    @include for-large-up {
      flex-direction: unset;
      width: auto;
      height: auto;
      margin-top: 111px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $color-white;

    @include for-large-up {
      width: 262px;
      height: 300px;
      margin-top: 0;
      margin-bottom: 110px;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__card:hover {
    cursor: pointer;
    background-color: $color-dark-blue;
    color: $color-white;
  }

  &__card:first-child {
    margin-top: 40px;

    @include for-large-up {
      margin-top: 0;
    }
  }

  &__card:last-child {
    margin-bottom: 50px;

    @include for-large-up {
      margin-bottom: 110px;
    }
  }
}

.user-card_checked {
  background-color: $color-dark-blue;
  color: $color-white;
}

.user-card__image {
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 195px;
}

.user-card__caption {
  text-align: center;
  margin: 22px 20px 33px 20px;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;

  @include for-large-up {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.button_learn-more_normal {
  margin-top: 12px;

  @include for-large-up {
    margin-top: 0;
    margin-left: 10px;
  }
}
