.action-button {
  background-color: $color-blue-button;
  color: $color-white;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;

  &_secondary {
    color: $text-color-black;
    background-color: $color-white;
  }
}

//repear
.action-button-standart {
  background-color: $color-white;
  color: $text-color-black;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  &_secondary {
    color: $color-white;
    background-color: $color-blue-button;
  }
}

.buttom_get-started_checked {
  width: 290px;
  height: 48px;
  background-color: $color-blue-button;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;

  @include for-large-up {
    width: 160px;
  }
}

.button_learn-more_normal {
  width: 290px;
  height: 48px;
  background-color: $color-white;
  color: $text-color-dark;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;

  @include for-large-up {
    width: 158px;
  }
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}

.icon-arrow_right {
  display: block;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
  width: 7px;
  height: 12px;
}
