* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
}

.header__button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}

.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
}

.logo {
  display: flex;
}

.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__decription {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.about-company {
  margin-top: 44px;
}

.footer-navigation {
  height: 338px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
}

.footer__description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.downloads {
  margin-top: 25px;
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
}

.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.footer-links {
  width: 1140px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.terms {
  line-height: 50px;
  font-size: 14px;
}

.terns__items {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
}

.social-links {
  margin-left: auto;
}

.social-links__item {
  margin-left: 20px;
}
