@import 'header.scss';
@import 'headline.scss';
@import 'footer.scss';
@import 'common.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}
